{%extends "base.html"%}
    {%block titulo%}
        FlaskSite
    {%endblock%}
    {%block content%}
    <!-- lo que se me cante -->
        <div class="container">
            <!-- se tiene que poner en un formulario para traer la funcion -->
            {%from "_macro.html" import render_field%}
                <form action="">
                    {{render_field(form.username, class="form-control")}}
                    {{render_field(form.email, class="form-control")}}
                    {{render_field(form.comment, class="form-control")}}
                    <button class="btn btn-dark">Enviar</button>
                </form>
        </div>
    {%endblock%}